@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.navbar{
    background-color: bisque;
}
.navbar-brand{
    font-family: "Bebas Neue", sans-serif;
    color: brown;
    text-shadow: 0 0 2px rgb(0, 0, 0)
}
.nav-link{
    color: brown;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 0 0 2px rgb(0, 0, 0)
}
.slide{
    margin-top: 10px;
}
.slide img{
    height: 65vh;
}
.mt-3{
    color:brown;
    opacity: 0.9;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    background-color:bisque;
    text-shadow: 0 0 2px rgb(0, 0, 0)
}
footer{
    font-family: "Bebas Neue", sans-serif;
    background-color: bisque;
    text-align: center;
    color: brown;
    font-size: 30px;
    text-shadow: 0 0 2px rgb(0, 0, 0)
}
footer a{
    color: brown;
    font-size: 30px;
    letter-spacing: 15px;
    text-decoration: none;
    text-shadow: none;
}
footer a:hover{
    color: rgb(168, 168, 168)
}
.jumbotron{
    background-image: url(../Imagenes/architecture-1868473_1920.jpg);
    margin-top: 10px;
    height: 500px;
    background-size: cover;
    background-position: center;
    color:brown;
    font-family: "Bebas Neue", sans-serif;
    }
.btn-info{
    background-color: bisque;
}
h1{
    text-align: center;
    padding: 20px;
    color: bisque;
    text-shadow: 0 0 2px rgb(0, 0, 0)
}
p{
    color: bisque;
}
h3{
    text-align: center;
    padding: 20px;
    color: bisque;
    background-color:brown;
    font-family: "Bebas Neue", sans-serif;
}
.nleft{
    background-image: url(../Imagenes/muslim-7520627_1920.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
}
h4,p{
    color: brown;
    text-align: center;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
}
h2{
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    color: bisque;
    background-color: brown;
    font-family: "Bebas Neue", sans-serif;
}
article{
    border: 5px solid brown;
    text-align: center;
    background-color: bisque;
}