*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-color: bisque;
}
.navbar{
    background-color: bisque;
}
.navbar-brand{
    font-family: "Bebas Neue", sans-serif;
    color: brown;
    text-shadow: 0 0 2px rgb(0, 0, 0)
}
.nav-link{
    color: brown;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 0 0 2px rgb(0, 0, 0)
}
.slide{
    margin-top: 10px;
}
.slide img{
    height: 65vh;
}
.mt-3{
    color:brown;
    opacity: 0.9;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    background-color:bisque;
    text-shadow: 0 0 2px rgb(0, 0, 0)
}
footer{
    font-family: "Bebas Neue", sans-serif;
    background-color: bisque;
    text-align: center;
    color: brown;
    font-size: 30px;
    text-shadow: 0 0 2px rgb(0, 0, 0)
}
footer a{
    color: brown;
    font-size: 30px;
    letter-spacing: 15px;
    text-decoration: none;
    text-shadow: none;
}
footer a:hover{
    color: rgb(168, 168, 168)
}
.jumbotron{
    background-image: url(../Imagenes/architecture-1868473_1920.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    color:brown;
    font-family: "Bebas Neue", sans-serif;
    }
.btn-info{
    background-color: bisque;
}
h1, p{
    text-align: center;
    padding: 20px;
    color: bisque;
    font-family: "Bebas Neue", sans-serif;
}
p{
    color: bisque;
}
h3{
    text-align: center;
    padding: 20px;
    color: bisque;
    background-color:brown;
    font-family: "Bebas Neue", sans-serif;
}
.nleft{
    background-image: url(../Imagenes/muslim-7520627_1920.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
}
h4,p{
    color: brown;
    text-align: center;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
}
h2{
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    color: bisque;
    background-color: brown;
    font-family: "Bebas Neue", sans-serif;
}
article{
    border: 5px solid brown;
    text-align: center;
    background-color: bisque;
}
.galeria{
    display: grid;
    background-image: url(../Imagenes/architecture-1868473_1920.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 5%;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,180px);
    grid-template-areas:
    "img1 img2 img3"
    "img4 img5 img6"
    "img7 img8 img9";
    grid-gap: 70px;
}
.item{
    border: 3px solid brown;
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    border-radius: 2px;
    transition: all 0.5s;
    filter: grayscale(100%);
}

.item:hover{
    filter: grayscale(0%);
    transform: scale(1.02);
}
.item1{
    grid-area: img1;
    background-image: url(../Imagenes/Cuadro\ 1.png);
}
.item2{
    grid-area: img2;
    background-image: url(../Imagenes/Cuadro\ 2.png);
}
.item3{
    grid-area: img3;
    background-image: url(../Imagenes/Cuadro\ 3.png);
}
.item4{
    grid-area: img4;
    background-image: url(../Imagenes/Cuadro\ 4.jpeg);
}
.item5{
    grid-area: img5;
    background-image: url(../Imagenes/Cuadro\ 5.png);
}
.item6{
    grid-area: img6;
    background-image: url(../Imagenes/Cuadro\ 6.png);
}
.item7{
    grid-area: img7;
    background-image: url(../Imagenes/Cuadro\ 7.png);
}
.item8{
    grid-area: img8;
    background-image: url(../Imagenes/Cuadro\ 8.png);
}
.item9{
    grid-area: img9;
    background-image: url(../Imagenes/Cuadro\ 9.png);
}