@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.navbar{
    background-color: bisque;
}
.navbar-brand{
    font-family: "Bebas Neue", sans-serif;
    color: brown;
    text-shadow: 0 0 2px rgb(0, 0, 0)
}
.nav-link{
    color: brown;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 0 0 2px rgb(0, 0, 0)
}
.slide{
    margin-top: 10px;
}
.slide img{
    height: 65vh;
}
.mt-3{
    color:brown;
    opacity: 0.9;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    background-color:bisque;
    text-shadow: 0 0 2px rgb(0, 0, 0)
}
footer{
    font-family: "Bebas Neue", sans-serif;
    background-color: bisque;
    text-align: center;
    color: brown;
    font-size: 30px;
    text-shadow: 0 0 2px rgb(0, 0, 0)
}
footer a{
    color: brown;
    font-size: 30px;
    letter-spacing: 15px;
    text-decoration: none;
    text-shadow: none;
}
footer a:hover{
    color: rgb(168, 168, 168)
}